<div class="conteiner">
  <div class="row">

  	<div class="col-xs-offset-1 col-xs-10">
  		<h2>Follow Users</h2>


  		 <table class="table">

  			<thead>
  		      <tr>
  		      	<th>image</th>
  		      	<th>name</th>
  		      </tr>
  		    </thead>

  		    <tbody>
  		      <% @users.each do |user|%>
  		      <tr>
  		      	<td>
  		      	   <%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
  		      	</td>
  		      	<td><%= user.name %></td>
  		      	<td>
  		      		<span>フォロー数：</span>
  		      		<%= user.follower.count %>
  		      	</td>
  		      	<td>
  		      		<span>フォロワー数：</span>
  		      		<%= user.followed.count %>
  		      	</td>
  		      	<td>
  		      		<%= link_to 'show', user_path(user) %>
  		      	</td>
  		      </tr>
  		      <% end %>
  		    </tbody>

  		 </table>



    </div>

  </div>
</div>